
:root {
  --nav-color: rgb(5, 16, 46);
  --background-color: white;
  --container-color: white;
  --border-color: rgba(28,110,164,0.03);
  --h1-color: black;
  --h2-color: #342d5c;
  --link-color: #FF853D;
  --accent-color: #FF853D;
  --inactive-p-color: grey;
  --active-p-color: black;
  --name-color: black;
}

[site-theme="dark"] {
  --nav-color: rgb(0, 0, 0);
  --background-color: rgb(41, 40, 43);
  --container-color: rgb(43, 43, 49);
  --border-color: rgba(184, 203, 221, 0.03);
  --h1-color: white;
  --h2-color: white;
  --link-color: rgb(3, 218, 171);
  --accent-color: rgb(3, 218, 171);
  --inactive-p-color: rgb(158, 157, 157);
  --active-p-color: white;
  --name-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

html{
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--background-color);
  margin-top: 2em;
}

body {
  background: var(--background-color);
}

::-moz-selection {
  color: white;
  background: var(--accent-color);
}

::selection {
  color: white;
  background: var(--accent-color);
}

.container{
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 1500px;
  vertical-align: top;
  margin: 0 auto;
}

.div1{
  padding-top: 1em;
  padding-bottom: 1em;
  background: var(--container-color); 
  border-style: ridge;
  border-width: 0.1em; 
  border-color: var(--border-color);
  margin: 2px;
  width: 49%;
  min-width: 350px;
  display: inline-block;
  vertical-align: top; 
}

.div1 p, .div1 ul, .div1 td, .div1 th {
color: var(--inactive-p-color);
}

.div1:hover p, .div1:hover ul, .div1:hover td{
color: var(--active-p-color);
transition: 0.3s;
}

.div1 tr td:nth-child(2){
  width: 20%;
}

.div1 img{
  max-width: 300px;
}

.tooltip {
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  left: 5em;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

ul {
  list-style-type: square;
}

h1 {
  color: var(--h1-color);
  margin-left: 14px;
  font-size-adjust: inherit;
}  

h2,h3,h4,h5,h6 {
  color: var(--h2-color);
  margin-left: 14px;
  font-size-adjust: inherit;
}

p {
  color: var(--active-p-color);
  margin-left: 1em;
  margin-right: 1em;
  font-size-adjust: inherit;

}

a {
  text-decoration: none;
  color: var(--link-color);
}

.container a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

img{
  margin-left: 14px;

}

table{
  padding-left: 1em;
  width: 100%
}

.FooterClass{
  background: var(--background-color);
  text-align: center;
  position: relative;
      bottom: 0;
}

.FooterClass p{
  color: grey;
}

.links p{
  font-size: small;
}

.section-link a {
  color: black;
  margin: 15px; 
  padding-right: 15px;
  display: inline-block;
  position: relative;
      left: 15px;
  text-decoration: none;
  font-size: 1em;
} 


@media only screen and (max-width: 600px) {

  .flip-box-inner ,.flip-box-front,.flip-box-back{
      cursor:pointer;
      overflow: visible !important;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
  }
  .div1{
      min-width: 90%;
      width: 98%;
  }
}

